
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

# Terragrunt
.terragrunt-cache
.terraform.lock.hcl
backend.tf

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/